

@media (max-width: 1025px) {

}
@media (max-width: 1024px) {
}
@media (min-width: 769px) {
}

/* for iPads, Tablets. */
@media  (max-width: 768px) {  
  #loginimg{
    display: none;  
  }  
  .form {
    margin-top: 70px;
  }
  .footer{
    margin-top: 125px;
  }
}
@media  (max-width: 820px) {  
  #loginimg{
    display: none;  
  }  
  .form {
    margin-top: 200px;
  }
  .footer{
    margin-top: 125px;
  }
}
/* @media (max-width: 823px) {  
  #loginimg{
    display: none;  
  }  
  .form {
    margin-top: 70px;
  }
  .footer{
    margin-top: 125px;
  }
} */

 /* @media (min-width: 600px) {
  #loginimg {
    display: flex;
  }
}  */

/* for 320px — 600px: Mobile devices. */
/* @media (max-width: 600px){
   #loginimg{
    display: none;
  }
} 
 */
