body {
  margin:0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 20px; */
  margin-top: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  margin-top:50px;
  background-color: #0A1F3E;
  padding: 20px 50px;
  color: #FFFFFF;
}
#footerNav{
 padding-left: 120px;
}
#contactUs{
  padding-left: 50px;
  text-align: left;
}
.form{
padding: 40px;
height: auto;
border: none;
background: #FFFFFF;
/* box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; */
box-shadow: 8px 14px 4px -1px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
#field, #pic{
  margin-top:20px;
  font-size: 15px;
  color: black;
}
#textarea{
  width:100%;
  height:75px;
}
h2, h4{
padding-top: 10px;
  color:#0A1F3E;
}
#form-control{
  border: 0.5px solid grey;
  border-radius: 8px;
  height: 35px;
  color: grey;
  text-align: center;
}
#main{
  margin-top: 110px;
  padding: 0;
}
.research{
  height: auto;
  padding: auto;
  margin: auto;
  text-align: left;
}
#Btn{
  margin-top:20px;
  background-color: #3FE0C1;
  width:200px;
  border:none;
  color:#0A1F3E;
}
.Btn{
  background-color: #3FE0C1;
  width:180px;
  padding: 5px;
  border:none;
  color:#0A1F3E;
}




/* Clear floats after the columns */


/* Style the counter cards */
.card {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  margin: 10px -12px;
  background-color: #FFFFFF;
  height: 330px;
}



#card1{
background-color: #1A5691;

text-align: center;
}
h3{
  color: white;
}
#card2{
  
  padding: 70px 50px;
  
}

#card3{
  padding: 0;
 
}

.upcoming h4{
  font-size: 17px;
}

.item-date{
  padding: 50px;
}
.card-image {
  height: 330px;
}



.footer{
  background-color: #0A1F3E; 
  padding: 0px 50px;

  
}

#footerNav{
  padding-left: 120px;


}
#contactUs{
  padding-left: 50px;
  
 }
/* stylying homecare service  */
.resize{
  width: 100%;
  height: 500px;
}
 .first-txt {
padding: 80px 0px 0px 20px;
color: #0A1F3E;
font-weight: bolder;
font-size: 50px;
}
.second-txt {
font-size: 30px;
} 
#content{
  background-image: url(https://image.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#middlesect{
 text-align: center;
 color: #0A1F3E;
 /* height: 100px; */
}
.sect1{
  background: url(https://108pkt40d39i1mdq4v41ganb-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/travel-nursing-interview-questions-travel-nursing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}
.hcare, .formcontent{
  margin-top: 110px;
}
#hcare{
  margin: 40px;
  height: auto;
}


#toggle1, #toggle, #toggle2, #toggle3, #toggle4, #toggle5{
  overflow:hidden;
    display:none;
    flex-wrap:wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#card5{
  padding: 20px 50px;
  
}

.card-box {
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px #c5c5c5;
  margin-bottom: 30px;
  /* float: right; */
  border-radius: 10px;
  
}
.card-box .card-thumbnail {
  max-height: 450px;
  overflow: hidden;
  border-radius: 10px;
  transition: 1s;
}
.card-box .card-thumbnail:hover {
  transform: scale(1.2);
}

.b-img{
  background: url('https://www.aku.edu/mcea/medicine/SiteAssets/Specialities.jpg');
  height: 500px;
  background-size: cover;
  background-position: center;
  
}
.b-color{
  height: 500px;
  background-color: #1f465cd7;
}
.details{
 padding: 10px;
}

#details{
  border-color:white;
  background: none;
  border-bottom-style: solid black;
}
/* stylying homecare service  */
.resize{
  width: 100%;
  height: 500px;
}
 .first-txt {
color: #0A1F3E;
font-weight: bolder;

}
.second-txt {
font-size: 30px;
} 
.About{
  margin-top: 40px;
}
#content{
  background-image: url(https://image.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#middlesect{
 text-align: center;
 color: #0A1F3E;
 /* height: 100px; */
}
#crd{
  margin: 10px;
  height: 200px;
  background-color: #1A5691;
  color: white;
  border-radius: 0px 0px 80px 0px;
}
#spc-card{
  height: auto;
  background-color: #1A5691;
  color: white;
  border-radius: 0px 50px 0px 50px;
}
#crds{
  margin: 2px;
  align-items: center;
  text-align: center;
  padding: 15px;
  height: 200px;
  font-size: 12px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border: 1px solid grey;
  display: flex;
  width: 200px;
  perspective: 100px;
  
}
.crd-icon{
  max-width: 100px;
  max-height: 200px;
}

@keyframes scroll{
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-200px * 5));
  }
}
.slider{
  overflow: hidden;
  height:250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;

}
.slider-track{
  display: flex;
  width: calc(250px * 10);
  animation: scroll 30s linear infinite;
}
.slider::before,
.slider::after{
  content: ' ';
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;
}
.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg)
}

#sect1{
  background: url(https://108pkt40d39i1mdq4v41ganb-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/travel-nursing-interview-questions-travel-nursing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}
.hcare, .formcontent{
  margin-top: 110px;
}



@media(min-width: 1200px){

}
@media(max-width: 1024px){
  
}
@media(max-width: 768px){
  
}
/* --------media query forless than 600 screen size------ */
@media(max-width: 600px){
  #pic, .pic{
    display: none;
  }
  /* .headingsect{
    font-size: 30px;
  } */
  #morevents {
  max-width: 340px;
  max-height: 400px;
}
.caption{
font-size: 16px;
}

  #row2{
    display: flex;
  }
  .video-container, video {
    max-height: 350px;
    max-width: 600px;
  }
  #sect1{
    max-height: 350px;
    max-width: 600px;
  }
}

/* styling the Emegency service page */
.row-herosect{
  background: linear-gradient(63deg, rgb(143, 187, 200), rgb(251, 251, 251));
}
.headingsect{
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
  font-size: 70px;
  font-weight: bolder;
  color: #0A1F3E;
}
.emeserviceheading{
  padding: 40px;
 text-align: center;
color: #0A1F3E;
font-weight: bolder;
font-size: 40px;
}
.emecontent{
  font-size: 20px;
}
/* styling the find more events */
#morevents{
  background-color: #FFFFFF;
  /* box-shadow: 1px 1px black; */
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  /* margin-left: 20px; 
   margin-right: 20px; */
  width: 850px;
  height: 220px;
  border: none;
}
/* #rowevents{
  padding: 0px;
  margin: 0px;

/* styling landing page */
 .video-container {
 top: 10px;
  height:450px;
  width: 100%;
  position: relative;
}


/* Just styling the content of the div, the *magic* in the previous rules */
#caption {
top: 28%;
left:30%;
position: absolute;
text-align: center;
color: #0A1F3E;
font-weight: bolder;
font-size: 28px;
} 
video {
  object-fit: cover;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: -1;
}

.eventdate{
  padding: 20px;
  
}
.detailscard{
    padding: 10px;
   
}
#carddate{
/* margin-left: 15px; */
max-width: 250px;
height: 220px;
background-color: #1A5691;
text-align: center;
}
#imgcard{
  border: none;
}

.res-bimg{
  background: url('https://www.biospectrumindia.com/uploads/articles/1-11517.jpg');
  height: 500px;
  background-size: cover;
  background-position: center;
  
}
.res-bcolor{
  height: 500px;
  background-color: #1f5c5cb9;
}
.titlemental{
  text-align: center;
  font-weight: bolder;
  color: #0A1F3E;
  margin: 20px;
}
/* styling the stories page. */
.storycont{
  height: auto;
  margin-top: 40px;
  /* background: linear-gradient(180deg, rgb(63, 224, 193), rgb(216, 117, 247)); */
}
#storycard{
  height: auto;
  margin: auto;
  width: 70%;
  /* padding: 20px; */
  background-color: #FFFFFF;
}
#storyimg{
  border-radius: 50%;
  max-width: 100px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}
#strytitle{
  text-align: center; 
  background-color:#3FE0C1;
  border-radius: 12px;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  padding: 2px;
}
.strycontent{
  text-align: center;
  font-size: 20px;
  /* overflow-wrap: break-word; */
  padding-bottom: 40px;
}
