body {
  margin:0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form{
padding: 40px;
height: 80vh;
top: 229px;
 border: none;
background: #FFFFFF;
/* box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; */
box-shadow: 8px 14px 4px -1px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
#field, #pic{
  margin-top:20px;
  font-size: 15px;
  color: black;
}
#textarea{
  width:100%;
  height:75px;
}
h2, h4{
padding-top: 10px;
  color:#0A1F3E;
}
#form-control{
  border: 0.5px solid grey;
  border-radius: 8px;
  height: 35px;
  color: grey;
  text-align: center;
}
#Btn{
  margin-top:20px;
  background-color: #3FE0C1;
  width:200px;
  border:none;
  color:#0A1F3E;
}
.footer{
  background-color: #0A1F3E; 
  padding: 0px 50px;

  
}
#footerNav{
  padding-left: 120px;


}
#contactUs{
  padding-left: 50px;
  
 }
/* stylying homecare service  */
.resize{
  width: 100%;
  height: 500px;
}
 .first-txt {
padding: 100px 0px 0px 60px;
color: #0A1F3E;
font-weight: bolder;
font-size: 50px;
}
.second-txt {
padding: 30px 0px 0px 60px;
font-size: 30px;
} 
#content{
  background-image: url(https://image.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
}
#middlesect{
 text-align: center;
 color: #0A1F3E;
 /* height: 100px; */
}
#sect1{
  background: url(https://108pkt40d39i1mdq4v41ganb-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/travel-nursing-interview-questions-travel-nursing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}
.hcare, .formcontent{
  margin-top: 130px;
}
#hcare{
  margin: 40px;
}

